/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syncopate:wght@400;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(255, 90%, 60%)
      Orange: hsl(14, 90%, 60%) - Blue: hsl(210, 90%, 50%)
      Pink: hsl(356, 100%, 65%) - Green: hsl(162, 90%, 40%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> Click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */
  --hue: 255;
  --first-color: hsl(var(--hue), 90%, 60%);
  --first-color-alt: hsl(var(--hue), 82%, 56%);
  --first-color-light: hsl(var(--hue), 40%, 80%);
  --text-color-light: hsl(var(--hue), 8%, 60%);
  --white-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 90%, 30%, .1);

  --black-color: hsl(0, 0%, 5%);
  --black-color-light: hsl(0, 0%, 70%);
  --white-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 96%);


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Syncopate", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
/*=============== REUSABLE CSS CLASSES ===============*/

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 2rem;
}

.section__title-1, 
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: .75rem auto 2rem;
}

.section__title-1 span, 
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after, 
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(19, 48%, 20%, .3);
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  rotate: -30deg;
}

.geometric-box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--black-color);
  left: -5px;
  top: -5px;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img{
  width: 3rem;
}

.nav__toggle,
.nav__close{
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--body-color);
    box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem;
    transition: right .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: 1.1rem;
}

.nav__close{
  position: absolute;
  top: 1.125rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1);
}

.nav__link{
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav__link::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--black-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav__link:hover{
  color: var(--black-color);
}

.nav__link:hover::after{
  width: 25%;
}

/* Active link */
.active-link{
  color: var(--black-color);
}

.active-link::after{
  width: 25%;
}


/*=============== BUTTON ===============*/
.button,
.button__ghost{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button{
  background-color: var(--black-color);
  padding: 1.1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background-color .4s;
}

.button i{
  font-size: 1.25rem;
}

.button:hover{
  background-color: gray;
}

.button__ghost{
  border: 3px solid var(--black-color);
  color: var(--black-color);
  padding: .5rem;
  transition: border .4s, color .4s;
}

.button__ghost i{
  font-size: 1.25rem;
}

.button__ghost:hover{
  border: 3px solid grey;
}


/*=============== HOME ===============*/
.home__container{
  position: relative;
  display: grid;
  row-gap: 2rem;
  padding-block:8rem 4rem;
}

.home__subtitle,
.home__title,
.home__button{
  font-family: var(--second-font);
}

.home__subtitle{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.home__title{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__description{
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.home__button{
  display: inline-block;
  background-color: var(--white-color);
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .1);
  padding: 1rem 3rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  color: var(--black-color);
}

.home__button:hover{
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .15);
}

.home__social{
  position: absolute;
  top: 9.5rem;
  right: 0;
  display: grid;
  row-gap: 1rem;
}

.home__social-link{
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .4s;
}

.home__social-link:hover{
  transform: translateY(-.25rem);
}

.home__images{
  display: grid;
  position: relative;
}

.home__shoe{
  width: 300px;
  margin-inline: auto;
  border-radius: 1rem;
}

.home__circle{
  width: 250px;
  height: 250px;
  background: linear-gradient(180deg,
              hsl(0, 0%, 100%),
              hsl(0, 0%, 96%));
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
}

/* Swiper class */
.swiper{
  margin-inline: initial;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -2rem;
}

.swiper-pagination-bullet{
  width: 1rem;
  height: .25rem;
  border-radius: 1rem;
  background-color: var(--black-color-light);
  opacity: 1;
  transition: background-color .3s, width .3s;
}

.swiper-pagination-bullet-active{
  width: 1.25rem;
  background-color: var(--black-color);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 2px;
}


/*=============== ABOUT ===============*/
.about{
  background-color: var(--container-color);
  transition: background-color .4s;
}

.about__container{
  row-gap: 0;
}

.about__perfil{
  position: relative;
  justify-self: center;
  margin-block: 2.5rem 4.5rem;
}

.about__image{
  width: 220px;
}

.about__img{
  position: relative;
  border: 4px solid var(--white-color);
  z-index: 1;
}

.about__shadow,
.about__line,
.about__box{
  position: absolute;
}

.about__shadow{
  width: 150px;
  height: 385px;
  background-color: var(--body-color);
  top: -2.5rem;
  right: -3.5rem;
  border-bottom: 4px solid var(--black-color);
  transition: background-color .4s;
}

.about__perfil .geometric-box{
  top: 1.5rem;
  right: -2.8rem;
}

.about__line{
  filter: invert(1);
  right: -1.25rem;
  top: 6rem;
  width: 50px;
  transition: filter .4s;
}

.about__box{
  width: 40px;
  height: 40px;
  background-color:  var(--black-color);
  right: -.5rem;
  bottom: 1.5rem;
}

.about__info{
  padding-left: 1.25rem;
}

.about__description{
  position: relative;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.about__description::after{
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  left: -1.75rem;
  top: .5rem;
}

.about__list{
  list-style: square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

/*=============== SERVICES ===============*/
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.services__container{
  row-gap: 2rem;
}

.services__card{
  background-color: var(--container-color);
  padding: 3.5rem 1.5rem;
  box-shadow: 0 12px 24px var(--shadow-color);
  text-align: center;
  transition: background-color .4s;
}

.services__button{
  display: inline-block;
  justify-content: center;
}

.services__icon{
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.services__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.services__description{
  margin-bottom: 3rem;
}

.services__button{
  cursor: pointer;
}

.services__modal{
  position: fixed;
  inset: 0;
  background-color: hsla(var(--hue), 10%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); 
  display: grid;
  place-items: center;
  padding: 2rem 1.5rem;
  opacity: 0;
  visibility: hidden;
  z-index: var(--z-modal);
  transition: opacity .4s, visibility .4s;
}

.services__modal-content{
  max-height: 420px;
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 1.5rem;
  border-bottom: 6px solid var(--black-color);
  overflow: auto;
}

.services__modal-content::-webkit-scrollbar{
  width: .6rem;
}

.services__modal-content::-webkit-scrollbar-thumb{
  background-color: var(--text-color-light);
}

.services__modal-title{
  font-size: var(--h2-font-size);
  margin-bottom: 2.5rem;
}

.services__modal-list{
  margin-left: 1rem;
}

.services__modal-item{
  text-align: initial;
  list-style: square;
  margin-bottom: 1rem;
}

.services__modal-item::marker{
  color: var(--black-color);
}

.services__modal-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Active modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*=============== WORK ===============*/
.work__container{
  row-gap: 2rem;
}

.work__link{
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.work__img{
  filter: grayscale(1);
  transition: filter .5s, transform .5s;
}

.work__icon{
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2.5rem;
  color: var(--black-color);
  transition: transform .4s;
}

.work__link:hover .work__img{
  transform: scale(1.1);
  filter: none;
}

.work__link:hover .work__icon{
  transform: translate(.5rem, -.5rem) rotate(-30deg);
}

.work__title{
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

/* Swiper class */


/*=============== CONTACT ===============*/
.contact__container{
  padding-bottom: 4rem;
}

.contact__button{
  justify-self: center;
}

.contact__page{
  padding-block: 1rem 4rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input{
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  border: 3px solid var(--text-color-light);
  padding: .5rem 1.5rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: border-color .4s, background-color .4s;
}

.contact__input:focus{
  border-color: var(--title-color);
}

.contact__input:-webkit-autofill{
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: -16px;
  left: 16px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  background-color: var(--body-color);
  padding: 8px;
  transition: background-color .4s;
}

.contact__area{
  height: 10rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1.25rem;
}

.contact__send{
  padding-block: 1.25rem;
  cursor: pointer;
}

.contact__message{
  position: absolute;
  bottom: -2rem;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}


/*=============== FOOTER ===============*/
.footer{
  background-color: var(--black-color);
}

.footer__container{
  padding-block: 4rem 2rem;
  text-align: center;
  row-gap: 5rem;
}

.footer__content{
  row-gap: 2rem;
}

.footer__content a,
.footer__copy{
  color: var(--white-color);
}

.footer__logo{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  justify-self: center;
}

.footer__links,
.footer__social{
  display: flex;
  justify-content: center;
}

.footer__links{
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__link{
  font-weight: var(--font-semi-bold);
}

.footer__logo:hover,
.footer__link:hover{
  text-decoration: underline;
}

.footer__social{
  column-gap: 1rem;
}

.footer__social-link{
  font-size: 1.5rem;
  transition: transform .4s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__copy{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 45%);
}


/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: black;
  display: inline-flex;
  padding: 8px;
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover{
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container{
    margin-inline: 1rem;
  }

  .home__title{
    font-size: 2rem;
  }
  .home__circle{
    width: 220px;
    height: 220px;
  }

  .about__image{
    width: 180px;
  }
  .about__shadow{
    height: 330px;
    right: -2.5rem;
  }

  .services__modal{
    padding-inline: .5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu{
    width: 60%;
  }

  .home__container,
  .about__container{
    grid-template-columns: 350px;
    justify-content: center;
  }
  .home__data{
    text-align: center;
  }

  .services__container{
    grid-template-columns: 320px;
    justify-content: center;
  }
  .services__modal-content{
    width: 400px;
  }

  .work__container{
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px){
  .services__container{
    grid-template-columns: repeat(2, 320px);
  }

  .work__container{
    grid-template-columns: repeat(2, 350px);
  }

  .contact__page{
    grid-template-columns: 670px;
    justify-content: center;
  }
  .contact__group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact__area{
    height: 18rem;
  }
  .contact__message{
    bottom: 5rem;
  }
  .contact__send{
    justify-self: center;
    margin-top: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__menu{
    width: initial;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, 400px);
    place-items: center;
    column-gap: 2rem;
  }
  .home__data{
    text-align: initial;
  }
  .home__social{
    align-content: center;
    top: 0;
    bottom: 0;
  }

  .footer__container{
    row-gap: 6rem;
    padding-block: 3.5rem;
  }
  .footer__content{
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }
  .footer__logo{
    font-size: var(--h2-font-size);
  }
  .footer__links{
    column-gap: 3rem;
  }
  .footer__social{
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1152px) {
  .container{
    margin-inline: auto;
  }

  .home__container{
    grid-template-columns: 430px 600px;
    column-gap: 4.5rem;
  }
  .home__title{
    margin-bottom: 1.25rem;
  }
  .home__description{
    font-size: var(--normal-font-size);
    margin-bottom: 3rem;
  }
  .home__shoe{
    width: 500px;
  }
  .home__circle{
    width: 400px;
    height: 400px;
  }

  .nav__link:hover{
    color: var(--title-color);
  }
  .nav__link::after{
    background-color: var(--title-color);
  }
  .active__link{
    color: var(--title-color);
  }

  .about__container{
    grid-template-columns: 440px 525px;
    gap: 1rem 9rem;
    align-items: center;
    padding-block: 1rem;
  }
  .about__perfil{
    order: -1;
    grid-row: 1 / 3;
  }
  .about__image{
    width: 350px;
  }
  .about__img{
    border: 8px solid var(--white-color);
  }
  .about__shadow{
    width: 240px;
    height: 615px;
    top: -4rem;
    right: -5.5rem;
    border-bottom: 6px solid var(--black-color);
  }
  .about__perfil .geometric-box{
    right: -4rem;
    top: 4.5rem;
  }
  .about__line{
    width: 80px;
    right: -2rem;
    top: 10rem;
  }
  .about__box{
    width: 64px;
    height: 64px;
    right: -0.75rem;
  }
  .about__container .section__title-1{
    align-self: flex-end;
    margin-inline: 0;
  }
  .about__info{
    align-self: flex-start;
    padding-left: 3rem;
  }
  .about__description{
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }
  .about__description::after{
    width: 32px;
    height: 2px;
    left: -3rem;
    top: 14px;
  }
  .about__list{
    margin-bottom: 5rem;
  }
  .about__buttons{
    justify-content: initial;
  }

  .button__ghost{
    padding: .75rem;
  }
  .button__ghost i{
    font-size: 1.5rem;
  }

  .services__container{
    grid-template-columns: repeat(3, 345px);
  }
  .services__card{
    padding-block: 4.5rem;
  }
  .services__modal-content{
    max-height: 480px;
    padding: 5.5rem 2rem;
  }
  .services__modal-close{
    font-size: 2rem;
  }

  .scrollup{
    right: 3rem;
  }

  .work__container{
    grid-template-columns: repeat(3, 350px);
    row-gap: 4rem;
  }
}

@media screen and (min-width: 1248px) {
  .home__social{
    right: -3rem;
    row-gap: 3rem;
  }
  .home__social-link{
    font-size: 1.5rem;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
